body {
    background: #ff0000;
    color: white;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

h1 {
    font-size: 50px;
}

#result {
    font-size: 25px;
    margin: 30px;
}

button {
    background: #3300ff;
    color: white;

    border: none;
    border-radius: 12px;

    padding: 20px 40px;
    font-size: 20px;

    cursor: pointer;
}

button:hover {
    background: #9278ff;
}
